footer {
    background-color: var(--footerBackground);
    display: flex;
    color: white;
    height: 15vh;

    align-items:center;
    padding: 10px;

    p {
        margin-right: 100px;
    }
    
    #contactLink {
        color: #FFFFFF;
        font-size:25px;
    }
    
    #aboutusLink {
        color: #FFFFFF;
        font-size:25px;
        margin-left: 100px;
    }
    
    a {
        color: white;
        margin-right: 100px;
    }
}