
#startTestContainer {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

img#startButton {
    width:150px;
    height:150px;
    object-fit:contain;
}

#startTestTekst {
    font-size: 25px;
}