main {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        padding: .5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;

        #cbrLogo {
            width: 25%;
            margin-bottom: 5%;
        }

        #inputFields {
            width: 75%;
            margin-top: 5%;

            .inputItem {
                margin: 1.5% 0;

                p {
                    font-family: oswald;
                    margin-bottom: 1%;
                    font-size: 1.15cqw;
                }

                input {
                    outline: none;
                    padding: .75% 1%;
                    font-family: lato;
                    width: 100%;
                    border: 2px solid var(--primary);
                }
            }

            #submitButton {
                margin-top: 3%;
                background-color: var(--primary);
                padding: .75%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid var(--primary);

                p {
                    font-family: oswald;
                    font-size: 1.25cqw;
                }

                &:hover {
                    border: 3px solid var(--footerBackground);
                    cursor: pointer;
                }
            }
        }
    }
}