#quizPicture {
    object-fit:cover;
    width: 600px;
    height: 400px;  
  }
  
  #quizBox {
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  p{
    font-weight: bold;
    font-size:20px;
  }

  #deRest {
    display: flex;
    flex-direction: row;
}

#questionBox {
    width: auto;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

.options {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    font-size: 30px;
    border: 2px solid transparent;

    &:hover {
        cursor: pointer;
    }

    input {
        display: none;
    }
}

.selected {
    border: 2px solid var(--primary);
}

.option {
    background-color: grey;
    width:50px;
    height:50px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.optionTekst {
    padding: 1%;
    display: flex;
    background-color: rgb(179, 179, 179);
    width: 500px;
    height: 50px;
    color: white;
    font-size:18px;
    align-items: center;
}

#answersBox {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
}

label {
    margin: 10px;
}